// Variables de color
$color-primary: #FF0000;
$color-secondary: #000000;
$color-text: #000000;
$color-text-light: #FFFFFF;

// Breakpoints
$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-wide: 1440px;

// Espaciados
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2rem;
$spacing-xl: 3rem;