@use '../../styles/variables';

.logo {
  text-decoration: none;
  color: variables.$color-text;
  display: inline-block;
  
  &:hover {
    opacity: 0.9;
  }
  
  &__container {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
  
  &__image-container {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    background-color: variables.$color-primary; 
    display: flex;
    align-items: center;
    justify-content: center;
    
    @media (min-width: variables.$breakpoint-tablet) {
      width: 45px;
      height: 45px;
    }
    
    @media (min-width: variables.$breakpoint-desktop) {
      width: 50px;
      height: 50px;
    }
  }
  
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    //object-position: center;
    object-fit: contain; 
    //padding: 0.25rem;
  }
  
  &__name {
    font-size: 1.25rem;
    font-weight: variables.$font-weight-extrabold;
    letter-spacing: 0.1em;
    
    @media (max-width: 350px) {
      display: none; 
    }
    
    @media (min-width: variables.$breakpoint-tablet) {
      font-size: 1.375rem;
    }
  }
}