@use '../../styles/variables';

.approach-section {
  background-color: variables.$color-primary; 
  color: variables.$color-text-light;
  padding: 5rem 0;
      padding-inline-end: 4.5rem;
    padding-inline-start: 1rem;
        padding-block-end: 8rem;

  @media (min-width: variables.$breakpoint-tablet) {
    padding: 0;

  }
  
  &__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @media (min-width: variables.$breakpoint-tablet) {
      flex-direction: row; 
    }
  }
  
  &__header {
    text-align: left;
    
    @media (min-width: variables.$breakpoint-tablet) {
              text-align: center;
        background-color: white;
        color: variables.$color-text;
        padding-top: 10rem;




    }
    
    @media (min-width: variables.$breakpoint-desktop) {
          background: linear-gradient(to right, 
    #FFFFFF 0%,
    #FFFFFF 70%,
      
    transparent 70% 
  );
    }
  }
  
  &__title {
    font-size: 2rem;
    line-height: 1.3;
    margin-block: 1rem;
    
    @media (min-width: variables.$breakpoint-tablet) {
              font-size: 2.5rem;
        margin: 10px;
        margin-block-start: 5rem;
      width: 40vw;

                
    }
    
    @media (min-width: variables.$breakpoint-desktop) {
      font-size: 3rem;
    }
  }
  
  &__steps {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;

    @media (min-width: variables.$breakpoint-tablet){

      padding-block: 3rem;

    }



  }




}