@use '../../styles/variables';

.approach-section {
  background-color: variables.$color-primary; // Fondo rojo
  color: variables.$color-text-light;
  padding: 4rem 0;
  
  @media (min-width: variables.$breakpoint-tablet) {
    padding: 6rem 0;
  }
  
  @media (min-width: variables.$breakpoint-desktop) {
    padding: 8rem 0;
  }
  
  &__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @media (min-width: variables.$breakpoint-tablet) {
      flex-direction: row;
    }
  }
  
  &__header {
    text-align: center;
    
    @media (min-width: variables.$breakpoint-tablet) {
      text-align: left;
      max-width: 80%;
    }
    
    @media (min-width: variables.$breakpoint-desktop) {
      max-width: 60%;
    }
  }
  
  &__title {
    font-size: 2rem;
    line-height: 1.1;
    margin: 0;
    
    @media (min-width: variables.$breakpoint-tablet) {
      font-size: 2.5rem;
    }
    
    @media (min-width: variables.$breakpoint-desktop) {
      font-size: 3rem;
    }
  }
  
  &__steps {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;

  }
}