@use '../../styles/variables';

.carousel-section {
  background: linear-gradient(
    180deg,
    variables.$color-background 0%,
    rgba(variables.$color-secondary, 0.1) 100%
  );
  padding: 4rem 0;
  
  @media (min-width: variables.$breakpoint-tablet) {
    padding: 6rem 0;
  }
  
  @media (min-width: variables.$breakpoint-desktop) {
    padding: 8rem 0;
  }
  
  &__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
    @media (min-width: variables.$breakpoint-desktop) {
      flex-direction: row;
      align-items: center;
      gap: 4rem;
    }
  }
  
  // Imagen del libro (lado izquierdo)
  &__image-container {
    @media (min-width: variables.$breakpoint-desktop) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  &__image-wrapper {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    
    @media (min-width: variables.$breakpoint-desktop) {
      margin: 0;
    }
  }
  
  // Placeholder del libro
  &__book {
    position: relative;
    width: 100%;
    height: 400px;
    perspective: 1000px;
    
    @media (min-width: variables.$breakpoint-tablet) {
      height: 500px;
    }
  }
  
  &__book-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: variables.$color-secondary;
    border-radius: 8px 0 0 8px;
    transform: rotateY(-10deg);
    transform-origin: left center;
    box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: variables.$color-text-light;
    z-index: 2;
  }
  
  &__book-title {
    font-size: 2.5rem;
    font-weight: variables.$font-weight-extrabold;
    text-align: center;
    margin-bottom: 0.5rem;
    color: variables.$color-primary;
  }
  
  &__book-subtitle {
    font-size: 1.25rem;
    font-weight: variables.$font-weight-regular;
    text-align: center;
    opacity: 0.8;
  }
  
  &__book-pages {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: variables.$color-white;
    border-radius: 8px;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.1);
    z-index: 1;
    
    &::before {
      content: '';
      position: absolute;
      top: 2rem;
      left: 75%;
      width: 1px;
      height: calc(100% - 4rem);
      background: rgba(0, 0, 0, 0.1);
    }
  }
  
  // Contenido del carrusel (lado derecho)
  &__content {
    @media (min-width: variables.$breakpoint-desktop) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}