@use '../../styles/variables';

.carousel-section {
  background-color: white;
  
  &__container {
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
    background-color: white;
    
    @media (min-width: variables.$breakpoint-tablet) {
      flex-direction: row;
      align-items: flex-start;
      gap: 0;
      min-height: 500px;
      position: relative;
              overflow: hidden;
    }
  }
  
  &__image-container {
    width: 100%;
    
    @media (min-width: variables.$breakpoint-tablet) {
      flex: 0 0 55%;
      max-width: 55%;
      height: 100%;
      display: flex;
      align-items: flex-start;
    }
  }
  
  &__image-wrapper {
    position: relative;
    width: 100%;
  }
  
  &__image {
    width: 100%;
    height: 300px; // Altura fija en móvil
    object-fit: cover;
    display: block; // ← Elimina espacio inferior
    
    @media (min-width: variables.$breakpoint-tablet) {
      height: 100%;
      object-position: top;
    }
  }
  
  // CONTENIDO NEGRO (abajo en móvil)
  &__content {
    background-color: variables.$color-black;
    color: white;
    padding: 2rem;
    margin-top: 0; 
    
    @media (min-width: variables.$breakpoint-tablet) {
      flex: 0 0 45%;
      max-width: 45%;
      height: 70%;
      padding: 3rem;
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-right: -3.5rem;
    }
  }
}