@use '../../styles/variables';

.design-strategy {
  background-color: variables.$color-secondary; 
  color: variables.$color-text-light;
  padding: 4rem 0;
  
  @media (min-width: variables.$breakpoint-tablet) {
    padding: 6rem 0;
  }
  
  @media (min-width: variables.$breakpoint-desktop) {
    padding: 8rem 0;
  }
  
  &__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
    @media (min-width: variables.$breakpoint-desktop) {
      flex-direction: row;
      align-items: center;
      gap: 4rem;
    }
  }
  
  // Imagen de laptop (55% en desktop)
  &__image-container {
    @media (min-width: variables.$breakpoint-desktop) {
      flex: 0 0 55%;
      max-width: 55%;
    }
  }
  
  &__image-wrapper {
    position: relative;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
  }

  .design-strategy__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  &__design-element {
    background: rgba(variables.$color-primary, 0.3); 
    border-radius: 4px;
    border: 1px solid rgba(variables.$color-primary, 0.5);
    
    &--1 {
      grid-column: 1;
      grid-row: 1;
      background: rgba(variables.$color-primary, 0.2);
    }
    
    &--2 {
      grid-column: 2;
      grid-row: 1 / span 2;
      background: rgba(variables.$color-primary, 0.4);
    }
    
    &--3 {
      grid-column: 1;
      grid-row: 2;
      background: rgba(variables.$color-primary, 0.3);
    }
  }
  
  
  // Contenido de texto (45% en desktop)
  &__content {
    @media (min-width: variables.$breakpoint-desktop) {
      flex: 0 0 45%;
      max-width: 45%;
    }
  }
  
  &__title {
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 1.5rem;
    color: variables.$color-text-light;
    
    @media (min-width: variables.$breakpoint-tablet) {
      font-size: 3rem;
    }
    
    @media (min-width: variables.$breakpoint-desktop) {
      font-size: 3.5rem;
      margin-bottom: 2rem;
    }
  }
  
  &__title-accent {
    color: variables.$color-primary; 
    font-weight: variables.$font-weight-extrabold;
  }
  
  &__quote {
    margin: 0 0 2rem 0;
    padding: 0;
    border-left: none;
    
    @media (min-width: variables.$breakpoint-desktop) {
      margin-bottom: 3rem;
    }
  }
  
  &__quote-text {
    font-size: 1.125rem;
    line-height: 1.6;
    color: rgba(variables.$color-text-light, 0.9);
    font-style: italic;
    
    @media (min-width: variables.$breakpoint-tablet) {
      font-size: 1.25rem;
    }
    
    @media (min-width: variables.$breakpoint-desktop) {
      font-size: 1.375rem;
    }
  }
  
  &__cta {
    .btn--underline {
      color: variables.$color-primary; 
      font-size: 1.125rem;
      font-weight: variables.$font-weight-bold;
      
      &::after {
        background-color: variables.$color-primary;
      }
      
      &:hover {
        color: variables.$color-primary-hover;
        
        &::after {
          background-color: variables.$color-primary-hover;
        }
      }
      
      &:active {
        color: variables.$color-primary-active;
        
        &::after {
          background-color: variables.$color-primary-active;
        }
      }
    }
  }
}