@use '../../styles/variables';

.design-strategy {
  background-color: variables.$color-secondary; 
  color: variables.$color-text-light;
  position: relative;
  
  @media (min-width: variables.$breakpoint-tablet) {
    padding: 0;
    height: 40rem;
  }
  
  @media (min-width: variables.$breakpoint-desktop) {
    padding: 8rem 0;
  }

    &::before {
    content: "";
    position: absolute;
    bottom: -10px;
    right: 0;
    height: 5rem;
    background-color: variables.$color-primary; 
    width: 57.8vw;
    z-index: 7;
    display: none; 
    
    @media (min-width: variables.$breakpoint-tablet) {
      display: block; 
    }

    @media (min-width: variables.$breakpoint-desktop) {
      width: 70.5vw;
    }
  }
  
  &__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
    @media (min-width: variables.$breakpoint-tablet) {
              flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        height: 100%;



    }

  }
  
  // Imagen de laptop (55% en desktop)
  &__image-container {
      @media (min-width: variables.$breakpoint-tablet){

        position: absolute;
        top: 0;
        left: 0;
        width: 50vw;
        height: 100%;
        overflow: hidden;
      }
    
  }
  
  &__image-wrapper {
    position: relative;

    overflow: hidden;

    @media (min-width: variables.$breakpoint-tablet) {
        width: 150vw;
    }
  }

  .design-strategy__image {
    @media (min-width: variables.$breakpoint-tablet){

      margin-left: -20rem;

      
    }
  }
  
  &__design-element {
    background: rgba(variables.$color-primary, 0.3); 
    border-radius: 4px;
    border: 1px solid rgba(variables.$color-primary, 0.5);
    
    &--1 {
      grid-column: 1;
      grid-row: 1;
      background: rgba(variables.$color-primary, 0.2);
    }
    
    &--2 {
      grid-column: 2;
      grid-row: 1 / span 2;
      background: rgba(variables.$color-primary, 0.4);
    }
    
    &--3 {
      grid-column: 1;
      grid-row: 2;
      background: rgba(variables.$color-primary, 0.3);
    }
  }
  
  
  // Contenido de texto (45% en desktop)
  &__content {
        padding-inline: 1.5rem;
        padding-block-end: 5rem;
    @media (min-width: variables.$breakpoint-tablet) {
          height: 70%;
    width: 50%;
    }
  }
  
  &__title {
    font-size: variables.$font-size-h2;
    line-height: 1.1;
    margin-bottom: 1.5rem;
    color: variables.$color-text-light;
    
    @media (min-width: variables.$breakpoint-tablet) {
      font-size: 3rem;
      width: 40vw;
    }
    
    @media (min-width: variables.$breakpoint-desktop) {
      font-size: 3.5rem;
      margin-bottom: 2rem;
    }
  }
  
  &__title-accent {
    color: variables.$color-primary; 
    font-weight: variables.$font-weight-extrabold;
  }
  
  &__quote {
    margin: 0 0 2rem 0;
    padding: 0;
    border-left: none;
    
    @media (min-width: variables.$breakpoint-desktop) {
      margin-bottom: 3rem;
    }
  }
  
  &__quote-text {
    font-size: variables.$font-size-body;
    line-height: 1.6;
    color: variables.$color-text-light;
    
    @media (min-width: variables.$breakpoint-tablet) {
      font-size: 1.25rem;
    }
    
    @media (min-width: variables.$breakpoint-desktop) {
      font-size: 1.375rem;
    }
  }
  
  &__cta {
    .btn--underline {
      color: variables.$color-primary; 
      font-size: variables.$font-size-body;
      font-weight: variables.$font-weight-bold;
      
      &::after {
        background-color: variables.$color-primary;
        min-width: 30rem;
      }
      
      &:hover {
        color: variables.$color-primary-hover;
        
        &::after {
          background-color: variables.$color-primary-hover;
        }
      }
      
      &:active {
        color: variables.$color-primary-active;
        
        &::after {
          background-color: variables.$color-primary-active;
        }
      }
    }
  }
}