@use '../../styles/variables';

.hero-section {
  padding: 4rem 0 6rem;
  background-color: variables.$color-white;
  
  @media (min-width: variables.$breakpoint-tablet) {
    padding-block-start: 7rem;
    padding-block-end: 0;
  }
  
  @media (min-width: variables.$breakpoint-desktop) {
    padding-block-start: 4rem;
  }

  @media (min-width: variables.$breakpoint-wide) {
    padding-block-start: 11rem;
  }
  
  &__container {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    
    @media (min-width: variables.$breakpoint-tablet) {
      flex-direction: row;
      align-items: center;
      gap: 4rem;
    }
  }
  
  // Contenido izquierdo (texto)
  &__content {
    flex: 1;
    
    @media (min-width: variables.$breakpoint-tablet) {
      position: relative;
      height: 60vh;
      max-width: 60vw;
      z-index: 2;
      padding-block-start: 3rem;
      padding-inline-start: 2rem;

      background: linear-gradient(to right, 
        #FFFFFF 0%,
        rgba(255, 255, 255, 0.925) 70%,
            rgba(255, 255, 255, 0.281) 90%,   
        rgba(255, 255, 255, 0.027) 100% 
      );
    }

    @media (min-width: variables.$breakpoint-desktop) {
      height: 50vh;
    }

    @media (min-width: variables.$breakpoint-desktop) {
      padding-block-start: 6rem;
      padding-inline-start: 4rem;
      height: 75vh;
    }

    @media (min-width: variables.$breakpoint-wide) {
      height: 95vh;
      
    }

    @media (max-height: 800px) and (min-width: 1024px) {
      min-height: 100vh; 
    }

    @media (max-height: 700px) and (min-width: variables.$breakpoint-tablet) {
      min-height: 130vh;
    }


  }
  
  &__title {
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 1.5rem;
    color: variables.$color-text;
    padding-block: 2rem;
    padding-inline-start: 1.5rem;
    padding-inline-end: 0.5rem;
    
    @media (min-width: variables.$breakpoint-tablet) {
      font-size: 3.5rem;
    }
    
    @media (min-width: variables.$breakpoint-desktop) {
      font-size: 4rem;
      margin-bottom: 2rem;
    }
    
    @media (min-width: 1200px) {
      font-size: variables.$font-size-h1;
      line-height: variables.$line-height-h1;
    }
  }
  
  &__description {
    font-size: 1.125rem;
    line-height: 1.6;
    color: variables.$color-text;
    margin-bottom: 2rem;
    opacity: 0.9;
    margin-inline: 1.5rem;
        text-align: justify;
    
    @media (min-width: variables.$breakpoint-tablet) {
      font-size: 1.25rem;
      margin-bottom: 2.5rem;
    }
    
    @media (min-width: variables.$breakpoint-desktop) {
      font-size: 1.375rem;
      margin-bottom: 3rem;
      max-width: 90%;
    }
  }
  
  &__cta {
    .btn {
      width: auto;
      min-width: 180px;
      padding: 1rem 2.5rem;
      margin-inline: 1.5rem;
      
      @media (min-width: variables.$breakpoint-tablet) {
        min-width: 200px;
      }
    }
  }
  
  // Contenido derecho (imagen)
  &__image-container {
    flex: 1;
    
    @media (min-width: variables.$breakpoint-tablet) {
    right: 0;
    position: absolute;
    width: 130vw;
    }
  }
  
  &__image-wrapper {
    position: relative;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    
  }
  
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}