@use '../../styles/variables';

.projects-section {
  padding: 4rem 0;
  background-color: variables.$color-background;
  
  @media (min-width: variables.$breakpoint-tablet) {
    padding: 6rem 0;
  }
  
  @media (min-width: variables.$breakpoint-desktop) {
    padding: 8rem 0;
  }
  
  &__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  
  &__header {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
  }
  
  &__title {
    font-size: 2.5rem;
    line-height: 1.1;
    margin: 0 0 1rem 0;
    color: variables.$color-text;
    
    @media (min-width: variables.$breakpoint-tablet) {
      font-size: 3rem;
    }
    
    @media (min-width: variables.$breakpoint-desktop) {
      font-size: 3.5rem;
    }
  }
  
  &__subtitle {
    font-size: 1.125rem;
    line-height: 1.6;
    color: rgba(variables.$color-text, 0.8);
    margin: 0;
    
    @media (min-width: variables.$breakpoint-tablet) {
      font-size: 1.25rem;
    }
  }
  
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    
    @media (min-width: variables.$breakpoint-tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    
    @media (min-width: variables.$breakpoint-desktop) {
      grid-template-columns: repeat(3, 1fr);
      gap: 2.5rem;
    }
  }
  
  &__empty {
    text-align: center;
    padding: 4rem 0;
    color: rgba(variables.$color-text, 0.6);
    font-size: 1.125rem;
  }
}