@use '../../styles/variables';

.carousel-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  
  &__counter {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: variables.$font-family-primary;
  }
  
  &__current {
    font-size: 2rem;
    font-weight: variables.$font-weight-extrabold;
    color: variables.$color-text;
    
    @media (min-width: variables.$breakpoint-tablet) {
      font-size: 2.5rem;
    }
  }
  
  &__separator {
    font-size: 1.5rem;
    font-weight: variables.$font-weight-regular;
    color: rgba(variables.$color-text, 0.5);
    
    @media (min-width: variables.$breakpoint-tablet) {
      font-size: 2rem;
    }
  }
  
  &__total {
    font-size: 1.5rem;
    font-weight: variables.$font-weight-regular;
    color: rgba(variables.$color-text, 0.5);
    
    @media (min-width: variables.$breakpoint-tablet) {
      font-size: 2rem;
    }
  }
  
  &__buttons {
    display: flex;
    gap: 1rem;
  }
  
  &__button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid variables.$color-secondary;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all variables.$transition-base;
    
    &:hover {
      background: variables.$color-secondary;
      
      .carousel-controls__arrow {
        color: variables.$color-white;
      }
    }
    
    &:active {
      transform: scale(0.95);
    }
    
    &:focus {
      outline: 2px solid variables.$color-primary;
      outline-offset: 2px;
    }
  }
  
  &__arrow {
    font-size: 1.5rem;
    font-weight: variables.$font-weight-bold;
    color: variables.$color-secondary;
    transition: color variables.$transition-base;
    line-height: 1;
  }
}